# Dependencies
bin/glfw3.dll
bin/libopenal.1.dylib
bin/libopenal.so.1
bin/soft_oal.dll

# Native binaries
bin/vaudio-debug-window.exe
bin/vaudionative.dll
bin/vaudionative.exp
bin/vaudionative.lib
bin/vaudionative.pdb